#/etc/systemd/system/vpn-tz@.service
[Unit]
Description=Trigger vpntime.service
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start vpntime.service
ExecStop=/usr/bin/systemctl start vpntime.service
RemainAfterExit=yes

[Install]
WantedBy=sys-subsystem-net-devices-%i.device
